html body{
	font-family: verdana;
	font-size: 20px;
}

h1 {
	text-align: center;
}


h2 {
	text-align: center;
	font-size: 30px;
}

.paragraphe2{
	text-align: center;
}

.paragraphe13 {
	text-align: center;
}

.paragraphe1{
	text-align: center;
}